<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<li><%= link_to image_tag("skilZ.png", alt: "skilZ"), 'http://skilZ.me/', id: "logo" %>
          <nav>
          	<ul class="nav pull-right">
          		<li <%= help_nav_active?(yield(:title)) %>><%= link_to "Employer", '/static_pages/help'%></li>
          		<li><%= link_to "Student", '#'%></li>
          		<li><%= link_to "University", '#'%></li>
          	</ul>
            <ul class="nav pull-left">
              <li <%= home_nav_active?(yield(:title)) %>> <%= link_to "Home",    '/static_pages/home' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>